#header, .module caption {
    background: #8b00ff;
    color: #ff9218;
}
#main{
    background: #8b00ff;
}
#user-tools strong a {
   background: #8b00ff;
   color: #ff9218;
}

#main h1 {
    background: #8b00ff;
    color: #ff9218;
}
#content-main, .module tr th {
    background: #8b00ff;
}
#content-main, .module tr th a {
    color: #ff9218;

}
#content-main, .module tr td {
    background: #8b00ff;
}
#content-main, .module tr td a {
    color: #ff9218;

}
#content-related, .module li a  {
    background: #8b00ff;
    color: #ff9218;
}
#content-related, .module li span {
    background: #8b00ff;
    color: #ff9218;
}
#recent-actions-module, .module h2 {
 color: #ff9218;
}

